.PageSheet-view {
  z-index: 50;
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
  top: calc(env(safe-area-inset-top, 0px) - 1px);
  bottom: initial;
}

.PageSheet-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 0 -12px 40px rgb(0 0 0 / 0.12);
}
