.git
.agents
.cursor
.data
.env
.env.*
!.env.example

node_modules
client/node_modules
client/dist
client/.tanstack

package-lock.json
client/package-lock.json

**/npm-debug.log*
**/*.tsbuildinfo
**/.vite

README.md
skills-lock.json
